

a:hover, a:focus, button:hover, button:focus {
    opacity: 0.8;
    cursor: pointer;

}

.color-text {
  color: rgba(139, 139, 139, 1);
}


.color-error {
  color: #ee3465 !important;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(18 / 12);
}

.text-input {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.text-title {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.88px;
}

.text-medium {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}

.link {
  text-decoration: none;
  color: white;
  transition: opacity 0.6s;
}

.link-burger {
  text-decoration: none;
  color: white;
  transition: opacity 0.6s;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.link-burger_secondary {
  background: #303030;
}

.link:hover {
  opacity: 0.6;
}

.underline-project {
  border-bottom: 1px solid white;
  padding-bottom: 23px;
}

.underline-about {
  border-bottom: 1px solid white;
  padding-bottom: 23px;
}

.underline-portfolio {
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  padding: 20px 0 19px 0;
}

.underline-profile {
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
}

.underline-footer {
  position: relative;
}

.underline-footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(218, 218, 218, 1);
  bottom: 0;
  left: 0;
  transform: translate(0, 25px);
}

.underline-footer {
  position: relative;
}

.underline-footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(66, 66, 66, 1);
  bottom: 0;
  left: 0;
  transform: translate(0, 20px);
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
  .text-medium {
    font-size: 18px;
    line-height: calc(28 / 18);
  }

  .text-title {
    font-size: 50px;
    font-weight: 400;
    line-height: 116%;
  }
  .subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: calc(22 / 18);
  }

  .link {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {


  .color-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .text {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }

  .text-title {
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__text {
    margin: 0;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  .link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .link {
    /*font-size: 10px;*/
    /*font-weight: 500;*/
    /*line-height: 16px;*/
  }
}
